<!DOCTYPE html>
<html>
<head>
  <title>Cfmovie</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<%= link_to logo, root_path %>
			<nav>
				<ul>
					<li>Sign in with twitter</li>
				</ul>
			</nav>
		</header>
		<%= yield %>
		<footer>
			<nav>
				<ul>
					<li><%= link_to "About", 'http://rickyuan.tumblr.com' %></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
